<a href="https://colab.research.google.com/github/sinbee123/colab/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
num1 = 100
num2 = 200
result1 = num1 + num2
result2 = num1 - num2
result3 = num1 / num2
result4 = num1 * num2

print(num1, "+", num2, "=", result1)
print(num1, "-", num2, "=", result2)
print(num1, "/", num2, "=", result3)
print(num1, "*", num2, "=", result4)

100 + 200 = 300
100 - 200 = -100
100 / 200 = 0.5
100 * 200 = 20000

* input 함수예제

In [12]:
num1 = input("첫번째 숫자 입력 =>")
num2 = int(input("두번째 숫자 입력 =>"))
result = int(num1) + num2
print(num1, "+", num2, "=", result)

첫번째 숫자 입력 =>100
두번째 숫자 입력 =>200
100 + 200 = 300

In [13]:
num1 = input("첫번째 숫자 입력 =>")
num2 = input("두번쨰 숫자 입력 =>")
print(num1, "+", num2, "=", result1)
print(num1, "-", num2, "=", result2)
print(num1, "/", num2, "=", result3)
print(num1, "*", num2, "=", result4)

첫번째 숫자 입력 =>100
두번쨰 숫자 입력 =>200
100 + 200 = 300
100 - 200 = -100
100 / 200 = 0.5
100 * 200 = 20000

* 문자열 예제

In [17]:
name = input("이름 ==>")
tel_number = input("전화번호 ==>")
print("제 이름은", name, "연락처는", tel_number, "입니다.")

이름 ==>양신비
전화번호 ==>01056671640
제 이름은 양신비 연락처는 01056671640 입니다.

In [19]:
personName = input("받는 사람 : ")
personAddr = input("주소 : ")
weight = int(input("무게(g) : "))

print("** 받는사람 ==>", personName)
print("**주소 =>", personAddr)

print("** 배송비 ==>", weight * 5, "원")

받는 사람 : 양신비
주소 : 와동
무게(g) : 727
** 받는사람 ==> 양신비
**주소 => 와동
** 배송비 ==> 3635 원

In [20]:
num1 = int(input("숫자1 ==>"))
num2 = int(input("숫자2 ==>"))

result1 = num1 + num2
result2 = num1 - num2
result3 = num1 * num2
result4 = num1 / num2
result5 = num1 % num2
result6 = num1 ** num2

print(num1, "+", num2, "=", result1)
print(num1, "-", num2, "=", result2)
print(num1, "*", num2, "=", result3)
print(num1, "/", num2, "=", result4)
print(num1, "%", num2, "=", result5)
print(num1, "**", num2, "=", result6)

숫자1 ==>100
숫자2 ==>200
100 + 200 = 300
100 - 200 = -100
100 * 200 = 20000
100 / 200 = 0.5
100 % 200 = 100
100 ** 200 = 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000